:root{
  --brand-blue: #1E96F0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  height:100px;
}

.navbar-logo {
  display:inline-block;
  float:left;
}
.Shala{
  color:var(--brand-blue);
}

.navbar-shortcuts{
  float:right;
}
.navbar-button-1, .navbar-button-2{
  float:right;
}
.navbar-button-2{
  color: white !important;
  height: 39px;
}
.navbar-dropdown-register{
  margin-left: 540px !important;
}

.orange-box{
  background: orange;
  border-radius: 3px;
  color: white;
  font-size: 12px;
}

.offcanvas-body a:hover{
  background: #dcdcdc;
}
.offcanvas-collapse-menu-1 li{
  list-style: none;
  font-size:18px;
}
.accordion-item{
  border: none !important;
}
.accordion-button{
  padding: 5px !important;
}
.accordion-button a:hover{
  background: none !important;
}
.offcanvas-dropdown-accordion-list .dropdown-item{
  font-size:14px;
}
/* HEADER ENDS */


/* MAIN */

.search-box{
  margin: 0 auto;
}
.search-area{
  height: 50px;
  width: 30vw !important;
}
.search-icon{
  width: 5vw;
  font-size:20px !important;
}

.carousel-image{
  height: 38vw;
}
.carousel-item{
  height: 38vw;
  background-image: linear-gradient(to bottom right, rgba(30,150,252), rgba(255,0,0,0));
}

.view-all-link-top{
  float: right;
}
.view-all-link-bottom a, .view-all-link-top a, .view-all-link-header a{
  text-decoration: none;
  color:var(--brand-blue);
  font-weight:bold;
}

.card{
  border: none !important;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--brand-blue);
  font-weight:bold;
  cursor: pointer;
}
.card-text{
  text-align: center;
}
.card-img-top{
  margin: 0 auto;
  height:100px;
  width:100% !important;
}
.job-card:hover{
  box-shadow:none;
  font-weight: normal;
  color: black;
  cursor:default;
}
.more30{
  color: #999999;
}

/* MAIN ENDS */


/* FOOTER */
footer{
  background:#505050;
  color: white;
  padding: 60px 0 50px 0;
}
.footer-link{
  text-align:center;
}
.footer-list{
  list-style-type:none;
}
.footer-list li{
  margin-top: 5px;
}
.footer-list li:hover{
  font-size: 16.5px;
}
.footer-list:hover{
  cursor: pointer;
}

.footer-hr{
  width: 80%;
  height:2px !important;
  margin: auto;
}

.app-button{
  display: inline-block;
  border-color: white !important;
  color: white !important;
  font-size: 20px !important;
}
.app-button:hover{
  background: white !important;
  color: black !important;
}

.social-icons{
  display: inline-block;
  font-size:30px;
}
.social-icons a{
  color: white;
}
.social-icons i:hover{
  font-size:32px;
}
.social-icons a:hover{
  color: white;
}

.copyright{
  float:right;
}
/* FOOTER ENDS */



/* RESPONSIBLE AREA */
@media (max-width:992px) {
  .hamburger-button{
    font-size:20px;
    color: black;
    float:left;
    font-weight: 100;
  }
  .hamburger-button:hover{
    color: black;
  }
  .nav-link{
    color: black !important;
  }
  .offcanvas-extras{
    color: black !important;
    font-size:20px;
  }
  .offcanvas-extras:hover{
    color: black;
  }

  .navbar-button-2{
    color: white !important;
    height: 39px;
  }

  /* MAIN */
  .search-area{
    height: 40px;
    width: 37vw !important;
  }
  .search-icon{
    width: 5.5vw;
    height:40px;
    font-size:15px !important;
  }

  .main-written-content, .view-all-link-bottom{
    text-align:center;
  }
  /* MAIN ENDS */

  /* FOOTER */
  .footer-link{
    text-align:left;
  }
  /* FOOTER ENDS */
}

@media (max-width:576px) {
  .search-area{
    height: 37px;
    width: 55vw !important;
  }
  .search-icon{
    width: 9vw;
    height:37px;
    font-size:12px !important;
  }

  .card{
    margin: 0 auto;
    justify-content:center !important;
    width: 50% !important;
  }

  .main-written-content-heading h1{
    font-size: 1.3em !important;
  }
  .main-written-content-discription{
    font-size:.8em !important;
  }
  .main-written-content-heading-2 h3{
    font-size:1.1em !important;
  }
}





/* INTERNSHIPS PAGE */

/* HEADER */
/* HEADER ENDS */

/* MAIN */
.internships-lg-heading-filter{
  border: 1px solid black;
  border-radius:5px;
  width:100px;
}
.internships-main-filter-box{
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  margin-left: 10vw !important;
}
.internships-main-filter-box-search{
  width:23.8vw !important;
  float:left;
}

.row .internships-card:hover{
  font-weight:normal !important;
  color: black !important;
}
/* MAIN ENDS */

/* FOOTER */

.internships-footer{
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
}

/* FOOTER ENDS */
/* RESPONSIBLE AREA */
@media (min-width: 992px) {
  .internships-card{
    float: right;
  }
}
/* INTERNSHIPS PAGE ENDS */

/* FRESHER JOBS */

/* HEADER */
/* HEADER ENDS */

/* MAIN */
.fresher-jobs-banner{
  background-image: linear-gradient(to bottom right, rgba(30,150,252,0.9), rgba(255,0,0,0));
  color: white;
}
/* MAIN ENDS */

/* FOOTER */
/* FOOTER ENDS */

/* FRESHER JOBS PAGE ENDS */



/* TRAININGS PAGE */

/* HEADER */
.trainings-logo{
  font-size:12px;
}
.trainings-navbar-dropdown{
  width:600px;
}

/* HEADER ENDS */

/* MAIN */
/* MAIN ENDS */

/* FOOTER */
/* FOOTER ENDS */

/* RESPONSIBLE AREA */
@media (max-width:992px) {
  .navbar-brand{
    margin-left: 30vw ;
  }
}
@media (max-width:576px) {
  .navbar-brand{
    margin-left: 22vw ;
  }
}

/* TRAININGS PAGE ENDS */
